<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Sumas101 | MiPerfil</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
		<script src="vue.js"></script>
		<script src="home.js"></script>
</head>
<body onload="load1()">
<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
<div class="rowColumnleft" id="my-info" data-off-canvas data-position="left">
<div class="row column" id="columnaPerfil">
<br>
<img class="thumbnail" src="http://i.imgur.com/cB8DB3u.png">
<h5>Juan Pérez</h5>

	<div id="Edad">
	<p>Edad: {{ message }} años.</p>
	<input v-model="message">
	</div>

	<div id="Escuela">
	<p>Escuela: {{ message }}.</p>
	<input v-model="message">
	</div>
	
	<div id="Nacionalidad">
	<p>Nacionalidad: {{ message }}.</p>
	<input v-model="message">
	</div>
	<div id="example">
  <button v-on:click="greet">Guardar cambios</button>
</div>

</div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="title-bar hide-for-large">
<div class="title-bar-left">
<button class="menu-icon" type="button" data-open="my-info"></button>
<span class="title-bar-title">Juan Pérez</span>
</div>
</div>
<div class="rowColumnMiddle">
<div class="row column">
<h1>Este es tu perfil, revisa todo tu progreso!</h1>
<p class="lead">Aquí encuentras tu información, tus logros y tu progreso en general :)</p>
</div>
</div>
              <h3 class="subheader">Logros</h3>
<div class="row small-up-2 medium-up-3 large-up-4">
<div class="column">
<img class="thumbnail" src="http://i.imgur.com/SfcCpry.gif">
<h5>El AS de las sumas!</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://i.imgur.com/JogTAPu.jpg">
<h5>Examen perfecto!</h5>
</div>
<div class="column">
<img class="thumbnail" src="http://i.imgur.com/U0QupXy.jpg">
<h5>Mitad de lecturas terminadas</h5>
</div>

</div>

<link href="progressBars.css" rel="stylesheet">


<section class="secondary-tabs">
  <div class="row collapse">

        <div class="content active" id="panel-1">
          <div class="row">
            <div class="small-12 columns">
              <h3 class="subheader">Progreso en las diferentes actividades</h3>
              <h5 class="project">Lecturas</h5>
              <div class="progress">
                <span class="meter high" style="width:65%">
                      <p class="percent">65%</p>
                </span>
              </div>
              <h5 class="project">Exámenes de práctica</h5>
              <div class="progress">
                <span class="meter low" style="width:20%">
                      <p class="percent">20%</p>
                </span>
              </div>
              <h5 class="project">Exámenes finales</h5>
              <div class="progress">
                <span class="meter low" style="width:40%">
                      <p class="percent">40%</p>
                </span>
              </div>
              <h5 class="project">Ejercicios</h5>
              <div class="progress">
                <span class="meter med" style="width:54%">
                      <p class="percent">54%</p>
                </span>
              </div>
              <h5 class="project">Preguntas de teoría</h5>
              <div class="progress">
                <span class="meter med" style="width:48%">
                      <p class="percent">48%</p>
                </span>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  <section>



<hr>
<div class="row">
<p>Ir a otras partes de la página:</p>
<ul class="menu">
<li><a href="home.html">Home</a></li>
<li><a href="index.html">Lecciones</a></li>
<li><a href="log.html">Log off</a></li>
<li><a href="backWork.html">BackWork</a></li>
</ul>

</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
